    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        display: flex;
        flex-direction: row;
         }


    .canvas{
        position: absolute;
        width: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .question {
        border: 3px solid red;
        padding: 30px;
        text-align: center;
        font-size: 40px;
        width: 80%;
    }


    button {
        margin: 10px;
        width: 80%;
        height: 100%;
        font-size: 40px;
        
    }


    .questions-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100%;
        padding-top: 55px;
        padding-bottom: 30px;
        background: linear-gradient(#e6dd64, #3b8361); 
        justify-content: center;
        border: 3px solid;
        border-radius: 10px;
    }

    form {
        width: 800px;
        height: 300px;
        border: 1px solid;
    }

    .answer-display {
        padding-top: 10px;
        margin: 5px;
        font-size: 40px;
        width: 800px;
        height: 80px;
        text-align: center;   
        background: linear-gradient(#f3f2e9, #b7c597);
        justify-content: center;

    }
    .w{
        width: 800px;
        height: 60px;
        border: 1px solid;
        text-align: center;
        padding-top: 10px;    
        background: linear-gradient(#f3f2e9, #b7c597);
        justify-content: center;
    }

    p{
        font-size: 30px;
        font-weight: bold;
        color: royalblue;
        
    }

    .Counter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
        border: deeppink 1px solid;
        border-radius: 40px;
        position: absolute;
        width: 350px;
        height: 70px;
        color: rgb(19, 5, 5);
        background: linear-gradient(#87d2df, #97a2c5);
        font-size: 60px;
        font-weight:lighter;
    }

    .timer{        
        padding-top: 55px;
        font-style: italic;
        font-size: 30px;
        font-weight:lighter;
        margin-left: 1100px;
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }

    .question-timer{
        margin-top: 650px;
        margin-left: 40px;
        padding-top: 80px;
        display: flex;
        font-style: impact;
        font-size: 55px;
        font-weight: bold;
        flex-direction: column;
        width: 300px;
        text-align: center;
        z-index: 20;
    }

    .sec{
        position: relative;
        top: 25px;
        animation: bounce .3s ease infinite alternate;
        font-family: 'Titan One', cursive;
        font-size: 80px;
        color: rgb(114, 35, 35);
        text-shadow: 0 1px 0 rgb(104, 21, 21),
      }

        @keyframes bounce {
            100% {
              top: -20px;
             }
          }

          .qCounter{
              position: absolute;
              display:grid;
              color: rgb(0, 162, 211);
              padding-top: 826px;
              left: 1526px;
              font-size: 30px;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              z-index: 22;
          }
    

          img{
              object-fit: cover;
              position: relative;
              padding-top: 30px;
          }

          
     