/*
light yellowwhite #FFFCD7
$primary-color: #E57FED;
$secondary-color: #00EBFC;
$accent-color: #FDEA03;
$comp-color: #ACFD63;
$comp2-color: #66D700;
$dominant-color: #020A89;
*/

/*
$primary-color: #00EBFC
$secondary-color: #CE6EFF
$accent-color: #FDEA03
$comp-color: #C5FD0D
$dominant-color: #0B2BE6
*/
/*
$primary-color: #00ECFC
$secondary-color: #FCF400
$accent-color: #C5FD0D
$comp-color: #EC0DFC
$comp2-color: #CC16D9
$dominant-color: #0B2BE6
$light-color: #FFFB8A
*/

$primary-color: #e57fed;
$secondary-color: #fdea03;
$accent-color: #00ebfc;
$dominant-color: #0b2be6;
$comp1-color: #acfd63;
$comp2-color: #66d700;
$light-color: #fffcd7;

@mixin flex-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//background: rgb(0, 238, 255);
//background: radial-gradient(
//	circle,
//	rgba(0, 238, 255, 1) 75%,
//	rgba(24, 160, 251, 0.7245273109243697) 80%,
//	rgba(229, 127, 237, 1) 90%
//);
//background: linear-gradient(
//	90deg,
//	rgba(229, 127, 237, 1) 5%,
//	rgba(0, 235, 252, 1) 20%,
//	rgba(0, 235, 252, 1) 50%,
//	rgba(0, 235, 252, 1) 80%,
//	rgba(229, 127, 237, 1) 95%
//);
//background: linear-gradient(
//	90deg,
//	rgba(0, 235, 252, 1) 5%,
//	rgba(229, 127, 237, 1) 20%,
//	rgba(229, 127, 237, 1) 50%,
//	rgba(229, 127, 237, 1) 80%,
//	rgba(0, 235, 252, 1) 95%
//);
html {
	font-family: 'Coiny', cursive;
	background: rgb(0, 235, 252);
	background: linear-gradient(
		90deg,
		rgba(229, 127, 237, 1) 5%,
		rgba(0, 235, 252, 1) 25%,
		rgba(0, 235, 252, 1) 50%,
		rgba(0, 235, 252, 1) 75%,
		rgba(229, 127, 237, 1) 95%
	);
}
main {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.page--home {
	//border: solid 5px rgb(136, 255, 0);
	height: 100vh;
}

.page--section {
	//background-color: #00ebfc;
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
	//border: solid 1px #acfd63;
}

.trivia--banner {
	/*margin-top: -100px;*/
	/*margin-left: -100px;*/
	padding: 64px;
	width: 720px;
	border: dotted 16px #fffcd7af;
	border-radius: 64px;
}

.timer {
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #fff;
}

.question-timer {
	z-index: 20;
	position: absolute;
	bottom: 40px;
	left: 40px;
	display: flex;
	font-style: impact;
	font-size: 55px;
	font-weight: bold;
	flex-direction: column;
	text-align: center;
}

.sec {
	position: relative;
	top: 16px;
	animation: bounce 0.3s ease infinite alternate;

	color: $secondary-color;
}

@keyframes bounce {
	100% {
		top: -20px;
	}
}

.sec--sec {
	color: #ffb4ea;
	font-size: 2rem;
}

//.gameOver--img {
//	/*object-fit: cover;*/
//	/*position: relative;*/
//	display: flex;
//	margin: 0 auto;
//	margin-top: 200px;
//	width: 777px;
//}
