/*

CSS HEX
--electric-blue: #00EBFCff;
--violet-web: #E57FEDff;        complement
--baby-powder: #FDFDFBff;
--phthalo-blue: #020A89ff;      dominant
	button blue: #18A0FB
--middle-yellow: #FDEA03ff;     accent
	dark green: #66D700
	bright green: #ACFD63
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Coiny', cursive;
	background-color: #00ebfcff;
}
main {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.page--home {
	/*border: solid 5px rgb(136, 255, 0);*/
	height: 100vh;
}

.home--section {
	background-color: #00ebfcff;
	height: 92vh;
	display: flex;
	justify-content: center;
	border: solid 2px #acfd63;
	align-items: center;
}

.trivia--banner {
	margin-top: -100px;
	margin-left: -100px;
	width: 770px;
	border: dotted 2px #acfd63;
}

.rewards--btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	border-radius: 40px;
	width: 30%;
	height: 7vh;
	color: rgb(19, 5, 5);
	border: solid 3px #18a0fbb0;
	box-shadow: 3px -3px 3px #ffffffe7;

	background: #fff;
	font-size: 1.2rem;
	font-weight: lighter;
}

.timer {
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 2px solid #fff;
}

.sec--sec {
	color: #ffb4ea;
	font-size: 2rem;
}

.gameOver--img {
	/*object-fit: cover;*/
	/*position: relative;*/
	display: flex;
	margin: 0 auto;
	margin-top: 200px;
	width: 777px;
}

/*

CSS HEX
--electric-blue: #00EBFCff;
--violet-web: #E57FEDff;        complement
--baby-powder: #FDFDFBff;
--phthalo-blue: #020A89ff;      dominant
	button blue: #18A0FB
--middle-yellow: #FDEA03ff;     accent
	dark green: #66D700
	bright green: #ACFD63
*/
