.diamonds-shop{
    margin-top: 5vh;
    margin-left: 38vw;
}
.avatar-shop{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 3vh;
    margin: 3vw;
}
.avatar-shop p{
    padding-top: 20px;
}
.avatar-shop div{
   margin: auto;
    width: 200px;
}

.avatar-shop img:hover{
  transform: scale(1.2);
}