.flex-col {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .avatar {
    height: 150px;
  }
  
  /* .select-avatar-img  {
 
 border:2px solid;
 border-image-outset: 2px;
  }
  .select-avatar-img:checked{
    border: 2px solid red;
  } */
  .imageWrapNormal{
    border: 1px solid blue;
  }
  .imageWrapSelected{
    border: 2px solid red;
  }