@use '../App.scss' as scss;

//.counter-hints {
//	display: flex;
//	align-items: center;
//	justify-content: center;
//	margin: 30px;
//	border: red 11px solid;
//	border-radius: 40px;
//	position: absolute;
//	margin-left: 30vw;
//	width: 10vw;
//	height: 5vh;
//	color: rgb(19, 5, 5);
//	font-size: 1.2rem;
//	font-weight: lighter;
//}

//.rewards--section {
//	display: flex;
//	flex-direction: row;
//	justify-content: space-around;
//}

.diamondArt {
	width: 90px;
	height: 90px;
	right: 680px;
	bottom: 10px;
	object-fit: contain;
}

.diamondSports {
	width: 90px;
	height: 90px;
	right: 530px;
	bottom: 10px;
	object-fit: contain;
}
.diamondFood {
	width: 90px;
	height: 90px;
	right: 480px;
	bottom: 10px;
	object-fit: contain;
}
.diamondFilm {
	width: 90px;
	height: 90px;
	right: 330px;
	bottom: 10px;
	object-fit: contain;
}
.diamondGen {
	width: 90px;
	height: 90px;
	right: 180px;
	bottom: 10px;
	object-fit: contain;
}
.diamondMus {
	width: 90px;
	height: 90px;
	right: 30px;
	bottom: 10px;
	object-fit: contain;
}
.diamondHist {
	width: 90px;
	height: 90px;
	left: 120px;
	bottom: 10px;
	object-fit: contain;
}
.diamondSci {
	width: 90px;
	height: 90px;
	left: 370px;
	bottom: 10px;
	object-fit: contain;
}
.diamondSoc {
	width: 90px;
	height: 90px;
	left: 520px;
	bottom: 10px;
	object-fit: contain;
}
