nav {
	background-color: #e57fedff;
	/*height: 100px;*/
	width: 100%;
	font-family: 'Faster One', cursive;
	font-size: x-large;
}
.nav--ul {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: auto 2vw;
	height: 10hv;
	/*border: solid 2px red;*/
}
