.ul-header{
    background-color: aquamarine;
    height: 100px;
    ;
}
nav{
    background-color: aquamarine;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;  
    
}

.email{
    
}