/*

CSS HEX
--electric-blue: #00EBFCff;
--violet-web: #E57FEDff;        complement
--baby-powder: #FDFDFBff;
--phthalo-blue: #020A89ff;      dominant
	button blue: #18A0FB
--middle-yellow: #FDEA03ff;     accent
	dark green: #66D700
	bright green: #ACFD63
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.qa--section {
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: center;
	border-radius: 100%;
	border: 1rem dotted #fdea03ff;
}

.questions--section {
	background-color: #fdea03ff;
	min-height: 150px;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px;
	font-size: large;

	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 5px solid #e57fedff;
}
.answers--section {
	background-color: #fdea03ff;
	width: 50vw;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 25vw;
	border-radius: 30px;
	border: 5px solid #e57fedff;
}

.align-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.question {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.singleQuestion {
	width: 95%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	margin-top: 10px;
	border: 5px solid grey;
}

.options {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

.singleOption {
	background-color: #18a0fb;
	font-family: 'Coiny', cursive;
	height: 50px;
	margin: 10px;
	font-size: 1rem;
	/*display: flex;*/
	/*flex-grow: 1;*/
	/*flex-direction: row;*/
	padding: 5px 40px;
	width: 100%;
	border-radius: 50px;
	color: #fff;
	/*border: solid 1px #020a89ff;*/
}

@media (max-width: 614px) {
	.singleOption {
		width: 100%;
	}
}

.controls {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.select {
	background-color: rgb(7, 207, 0);
	color: white;
	box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.753);
	border: solid 3px #18a0fb4d;
}

.wrong {
	background-color: rgb(233, 0, 0);
	color: white;
	box-shadow: -5px 5px 5px #7e7e7ee7;
	border: solid 3px #18a0fb4d;
}

.rewards--section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.qCounter {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 30px;
	float: right;
	border-radius: 22px;
	width: 250px;
	font-size: medium;
	box-shadow: 3px -3px 3px #ffffffe7;
	border: ridge 3px #fdea03ff;
}

.counter--hints {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	border-radius: 40px;
	position: absolute;
	margin-left: 30vw;
	width: 10vw;
	height: 5vh;
	color: rgb(19, 5, 5);
	font-size: 1.2rem;
	font-weight: lighter;
	border: deeppink 11px solid;
}

.next--btn {
	background-color: #e57fedff;
	height: 20px;
	width: 200px;
	padding: 20px 80px;
	margin: 0 auto;
	margin-top: 3vh;
	font-family: 'Faster One', cursive;
	font-size: 2rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*

CSS HEX
--electric-blue: #00EBFCff;
--violet-web: #E57FEDff;        complement
--baby-powder: #FDFDFBff;
--phthalo-blue: #020A89ff;      dominant
	button blue: #18A0FB
--middle-yellow: #FDEA03ff;     accent
	dark green: #66D700
	bright green: #ACFD63
*/
