/*

CSS HEX
--electric-blue: #00EBFCff;
--violet-web: #E57FEDff;        complement
--baby-powder: #FDFDFBff;
--phthalo-blue: #020A89ff;      dominant
	button blue: #18A0FB
--middle-yellow: #FDEA03ff;     accent
	dark green: #66D700
	bright green: #ACFD63
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.qa--section {
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: center;
	border-radius: 100%;
	border: 1rem dotted #fdea03ff;
}

.questions--section {
	background-color: #fdea03ff;
	min-height: 150px;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px;
	font-size: large;

	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 5px solid #e57fedff;
}
.answers--section {
	position: relative;
	background-color: #fdea03ff;
	width: 50vw;
	padding: 15px;
	margin-left: 25vw;
	border-radius: 30px;
	border: 5px solid #e57fedff;
	animation-name: points;
	animation-duration: 4.5s;
	transition-timing-function:ease-in-out;
}

.align-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	
}

.question {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quest{
	position: relative;
	animation-name: question;
	animation-duration: 2s;
	transition-timing-function:ease-in-out;

}
.singleQuestion {
	width: 95%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	margin-top: 10px;
	border: 5px solid grey;
}

.options {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

.singleOption {
	position: relative;
	font-family: 'Coiny', cursive;
	height: 100%;
	margin: 10px;
	font-size: 1.3rem;
	animation-name: points;
	animation-duration: 4.5s;
	transition-timing-function:ease-in-out;

	/*display: flex;*/
	/*flex-grow: 1;*/
	/*flex-direction: row;*/
	padding: 5px 40px;
	width: 100%;
	border-radius: 50px;
	color: #fff;
	/*border: solid 1px #020a89ff;*/
}
.singleOpt {
	font-family: 'Coiny', cursive;
	height: 100%;
	margin: 10px;
	font-size: 1.3rem;
	padding: 5px 40px;
	width: 100%;
	border-radius: 50px;
	color: #fff;
	background-color: #18a0fb;
}

@media (max-width: 614px) {
	.singleOption {
		width: 100%;
	}
}

.controls {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.select {
	background-color: rgb(7, 207, 0);
	color: white;
	box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.753);
	border: solid 3px #18a0fb4d;
}

.wrong {
	background-color: rgb(233, 0, 0);
	color: white;
	box-shadow: -5px 5px 5px #7e7e7ee7;
	border: solid 3px #18a0fb4d;
}

.rewards--section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.qCounter {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 30px;
	float: right;
	border-radius: 22px;
	width: 250px;
	font-size: medium;
	box-shadow: 3px -3px 3px #ffffffe7;
	border: ridge 3px #fdea03ff;
}

.counter--hints {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	border-radius: 40px;
	position: absolute;
	margin-left: 30vw;
	width: 10vw;
	height: 5vh;
	color: rgb(19, 5, 5);
	font-size: 1.2rem;
	font-weight: lighter;
	border: deeppink 11px solid;
}

.next--btn {
	background-color: #e57fedff;
	height: 20px;
	width: 200px;
	padding: 20px 80px;
	margin: 0 auto;
	margin-top: 3vh;
	font-family: 'Faster One', cursive;
	font-size: 2rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cat{

	font-size: 40px;
	color: red;
	text-align: center;

}
.cat2{
	margin-left: 140px;
	position: relative;
	font-size: 40px;
	color: red;
	animation-name: points;
	animation-duration: 1s;
	transition-timing-function:ease-in-out;
	width: 100%;
	
}
@keyframes points {
    0% {
      left: -126200px;
    }
    50% {
      color: blanchedalmond;
    }
    60% {
      color: blanchedalmond;
    }
    70% {
    }
    80% {
      text-shadow: brown 2px 1px 2px;
    }
    90% {
      text-shadow: brown 2px 1px 2px;
    }
    95% {
    }
    100% {
      color: black;
      left: 0px;
    }
  }

  @keyframes question {
    0% {
      right: -126200px;
    }
    50% {
      color: blanchedalmond;
    }
    60% {
      color: blanchedalmond;
    }
    70% {
    }
    80% {
      text-shadow: brown 2px 1px 2px;
    }
    90% {
      text-shadow: brown 2px 1px 2px;
    }
    95% {
    }
    100% {
      color: black;
      right: 0px;
    }
  }
  .cat3{
    text-align: center;
	position: relative;
	font-size: 40px;
	color: red;
	animation-name: points;
	animation-duration: .4s;
	transition-timing-function:ease-in-out;
	width: 100%;
	
}

.round{
	color:darkmagenta;
	font-size: 70px;
	margin: auto;
	width: 100%;
	text-align: center;	
	font-family:'Faster One';
	padding-top: 20px;
}


h1{
	color: red;

}

.mode{
	font-size: 25px;
	color: darkmagenta;
	text-align: center;
	font-family:'Faster One';



}

.gameOver{

display: grid;
text-align: center;
justify-content: center;

}

.finalScore{

	padding-top: 30px;
	font-size: 45px;
	color: rgb(233, 0, 0);

}

.diamondGeo{

	width: 90px;
	height: 90px;
	right: 300px;
	bottom: 10px;
	object-fit: contain;
}


.diamondArt{
	width: 90px;
	height: 90px;
	right: 360px;
	bottom: 30px;
	object-fit: contain;
}

.diamondSports{

	width: 90px;
	height: 90px;
	right:420px;
	bottom: 10px;
	object-fit: contain;
}
.diamondFood{

	width: 90px;
	height: 90px;
	right:480px;
	bottom: 10px;
	object-fit: contain;
}
.diamondFilm{

	width: 90px;
	height: 90px;
	right:540px;
	bottom: 10px;
	object-fit: contain;
}
.diamondGen{

	width: 90px;
	height: 90px;
	right:600px;
	bottom: 10px;
	object-fit: contain;
}
.diamondMus{

	width: 90px;
	height: 90px;
	right:730px;
	bottom: 10px;
	object-fit: contain;
}
.diamondHist{

	width: 90px;
	height: 90px;
	right:830px;
	bottom: 10px;
	object-fit: contain;
}
.diamondSci{

	width: 90px;
	height: 90px;
	right:930px;
	bottom: 10px;
	object-fit: contain;
}
.diamondSoc{

	width: 90px;
	height: 90px;
	right:990px;
	bottom: 10px;
	object-fit: contain;
}
.popUp{
	right: 700px;
    bottom: 135px;
	position: absolute;
	width: 400px;
	z-index: 33;
}

.img2{
	margin-bottom: 33px;
	padding: 0;
	position: relative;
	border: 2px solid rebeccapurple;
	object-fit: cover;
	border-radius: 45%;
	width: 350px;
}

.again{
	display: flex;
	flex-direction: column;
}
